<launch>

  <!-- Human Localization sensor fusion with Robot Localization package EKF node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="human_localization_ekf_se" clear_params="true">
    <rosparam command="load" file="$(find assistive_launch)/config/master_human_localization_ekf.yaml" />
    <!--  Placeholder for output topic remapping
      You either remap on this node, the node that takes in the data, or both!
      <remap from="odometry/filtered" to=""/>
      <remap from="accel/filtered" to=""/>
      -->
  </node>

  <!-- Auto disable feature -->
  <node pkg="centralized_controllers" type="auto_disable_ekf_localization.py" name="auto_disable_ekf_localization_human" output="screen">
    <rosparam command="load" file="$(find assistive_launch)/config/master_auto_disable_ekf_localization_human.yaml" />
  </node>

</launch>