<?xml version="1.0"?>
<launch>   
<group ns="oarbot_blue">
    <machine name="oarbot-blue-P15" address="192.168.1.102" env-loader="$(find assistive_launch)/scripts/env_oarbot_blue.sh" user="oarbot_blue" password="1234"  default="true"/>

    <node name="body_single_joint_follower" pkg="assistive_controllers" type="body_single_joint_follower2.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_body_single_joint_follower2.yaml"/>
    </node>

</group>
</launch>