<?xml version="1.0"?>
<launch>   
<group ns="oarbot_blue">
    <machine name="oarbot-blue-P15" address="192.168.1.102" env-loader="/home/oarbot_blue/catkin_ws_assistive/scripts/env_oarbot_blue.sh" user="oarbot_blue" password="1234"  default="true"/>

    <node name="ctrl_inv_kin" pkg="oarbot_base_control" type="inv_kin.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_base_control.yaml"/>
    </node>
    <node name="ctrl_motor" pkg="oarbot_base_control" type="motor_control.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_base_control.yaml"/>
    </node>
    <node name="ctrl_fwd_kin" pkg="oarbot_base_control" type="fwd_kin.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_base_control.yaml"/>
    </node>

    <node name="cl_state" pkg="vel_controller" type="vel_controller.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_cl_state.yaml"/>
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find assistive_launch)/config/oarbot_blue_twist_mux.yaml" />
        <remap from="cmd_vel_out" to="e_stop_cmd_vel"/>
        <remap from="/diagnostics" to="diagnostics"/>
    </node>

    <!-- Launch Frequency Adjuster -->
    <node name="freq_adjuster_base" pkg="oarbot_control" type="freq_adjuster.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_freq_adjuster_base.yaml"/>
    </node>

    <!-- Launch TF broadcaster btw Mobile Base and the Arm base -->
    <node name="tf_mobile_base_arm_base_broadcaster" pkg="tf_broadcasters" type="tf_mobile_base_arm_base_broadcaster.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_tf_mobile_base_arm_base.yaml"/>
    </node>

    <!-- Launch IMU -->
    <node name="imu_driver" pkg="microstrain_inertial_driver" type="microstrain_inertial_driver_node" output="screen">
        <rosparam command="load" file="$(find assistive_launch)/config/oarbot_blue_imu_microstrain.yaml"  />
    </node>

    <!-- Launch TF broadcaster btw Mobile Base and the IMU -->
    <node name="tf_mobile_base_imu_broadcaster" pkg="tf_broadcasters" type="tf_mobile_base_imu_broadcaster.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_blue_tf_mobile_base_imu.yaml"/>
    </node>

</group>
</launch>