<?xml version="1.0"?>
<launch>
<group ns="oarbot_silver">
	<machine name="oarbot-silver-P15" address="192.168.1.104" env-loader="/home/oarbot_silver/catkin_ws_assistive/src/assistive_launch/scripts/env_oarbot_silver.sh" user="oarbot_silver" password="1234" default="true"/>

    <arg name="prefix_for_tf" default="j2n6s300_left" />  <!-- Applies to both kinova arm and the kinect -->

    <!-- Launch TF broadcaster btw Mobile Base and the Arm base -->
    <node name="tf_mobile_base_arm_base_broadcaster" pkg="tf_broadcasters" type="tf_mobile_base_arm_base_broadcaster.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_silver_tf_mobile_base_arm_base.yaml"/>
    </node>

    <!-- Launch Kinova Arm -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_kinova_robot.launch">
        <arg name="use_urdf" value="true"/>
        <arg name="kinova_robotType" value="j2n6s300" />
        <arg name="kinova_robotName" value="$(arg prefix_for_tf)"/>
        <arg name="kinova_robotSerial" value="not_set" />
        <arg name="kinova_root_name" value="root_left_arm" />
        <arg name="kinova_prefix" value="$(arg prefix_for_tf)" />
        <arg name="use_jaco_v1_fingers" value="false" />
        <arg name="feedback_publish_rate" value="0.01" /> <!-- (0.01 s = 100 Hz) Higher rate is practically not possible -->
    </include>

    <!-- Launch Frequency Adjuster -->
    <node name="freq_adjuster_arm" pkg="oarbot_control" type="freq_adjuster.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/oarbot_silver_freq_adjuster_arm.yaml"/>
    </node>

    <!-- Launch Bota Rokubimini FT sensor -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_ft_bota_rokubi.launch">
    </include>

    <!-- Launch arm to FT sensor TF broadcaster (NO need if the sensor name is given accordingly)-->
    <!-- <node name="tf_arm_ft_broadcaster" pkg="tf_broadcasters" type="tf_arm_ft_broadcaster.py" output="screen"> -->
        <!-- <rosparam file="$(find assistive_launch)/config/oarbot_silver_tf_arm_ft.yaml"/> -->
    <!-- </node> -->

    <!-- Start the fake_imu_publisher node (USE WHEN KINECT or ANOTHER DEVICE IS NOT PROVIDING IMU) -->
    <node name="fake_imu_publisher" pkg="tf_to_fake_imu" type="fake_imu_publisher_node" output="screen">
        <param name="imu_topic_name_out" value="$(arg prefix_for_tf)_fake_kinect_imu" />
        <param name="tf_world_frame_id" value="map" />
        <param name="tf_mobile_frame_id" value="$(arg prefix_for_tf)_wrench" />
        <param name="gravity" value="[0.0, 0.0, -9.81]" />
        <param name="rate" value="100" />
    </node>

    <!-- imu transformer node for ft sensor-->
    <node name="imu_transformer" pkg="imu_transformer" type="imu_transformer_node">
        <param name="target_frame" type="string" value="$(arg prefix_for_tf)_wrench"/>
        <!-- remap for subscription -->

        <!-- If Kinect Provides the IMU msg -->
        <!-- <remap from="imu_in/data" to="$(arg prefix_for_tf)_kinect_imu"/> -->
        
        <!-- If Fake IMU is used to provide IMU msg -->
        <remap from="imu_in/data" to="$(arg prefix_for_tf)_fake_kinect_imu"/>
        
        <!-- remap for publishing -->
        <remap from="imu_out/data" to="$(arg prefix_for_tf)_ft_imu"/>
    </node>

    <!-- FT gravity compensation node -->
    <node name="imu_gravity_compensation" pkg="gravity_compensation" type="gravity_compensation_node" cwd="node" respawn="false" output="screen">
        <rosparam command="load" file="$(find assistive_launch)/config/oarbot_silver_ft_calib_data.yaml"/>
        <!-- remap for subscription -->
        <remap from="imu_gravity_compensation/ft_raw" to="ft_sensor/$(arg prefix_for_tf)/ft_sensor_readings/wrench" />
        <remap from="imu_gravity_compensation/imu" to="$(arg prefix_for_tf)_ft_imu" />
        <!-- remap for publishing -->
        <remap from="imu_gravity_compensation/ft_zeroed" to="ft_sensor/$(arg prefix_for_tf)/ft_sensor_readings/wrench_zeroed" />
        <remap from="imu_gravity_compensation/ft_compensated" to="ft_sensor/$(arg prefix_for_tf)/ft_sensor_readings/wrench_compensated" /> 
    </node>
</group> 
</launch>