<launch>
    <arg name="node_name" default="paper_depth_processor"/>
    <arg name="params_file" default="$(find assistive_launch)/config/paper_depth_processor.yaml"/>

    <node name="$(arg node_name)" pkg="tf_broadcasters" type="paper_depth_processor.py" output="screen">
        <rosparam command="load" file="$(arg params_file)" subst_value="true"/>
    </node>
</launch>
