<launch>
  <arg name="sensor" default="BFT_ROKS_KINOVA_robot" />
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find rokubi_kinova_adapter)/urdf/$(arg sensor).urdf.xacro" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rokubi_kinova_adapter)/config/rokubi_with_kinova_adapter.rviz" />
</launch>