<?xml version="1.0"?>
<launch>
    <include file="$(find assistive_launch)/launch/ui_tablet.launch" />
    <include file="$(find assistive_launch)/launch/test_launch/nuc_kinect_with_aruco.launch" />
    
    <include file="$(find assistive_launch)/launch/oarbot_silver_kinect.launch" />
    <include file="$(find assistive_launch)/launch/oarbot_blue_kinect.launch" />

    <include file="$(find assistive_launch)/launch/oarbot_silver.launch" />
    <include file="$(find assistive_launch)/launch/oarbot_blue.launch" />
    
    <include file="$(find assistive_launch)/launch/test_launch/master_computer.launch" />

    <!-- RVIZ -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d ~/catkin_ws_assistive/src/assistive_launch/config/rviz/all_oarbots_localized_with_aruco.rviz" output="screen"/>
</launch>