<?xml version="1.0"?>
<launch>   
<!-- <group ns="oarbot_blue"> -->
    <machine name="oarbot-blue-P15" address="192.168.1.102" env-loader="/home/oarbot_blue/catkin_ws_assistive/src/assistive_launch/scripts/env_oarbot_blue.sh" user="oarbot_blue" password="1234"  default="true"/>

    <!-- Launch Kinova Arm with Kinect + Corresponding TF broadcasters, including Body Joint Broadcaster -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_blue_arm_with_kinect.launch">
        <!-- <arg name="prefix_for_tf" value="j2n6s300_right" />  Applies to both kinova arm and the kinect -->
    </include>

    <!-- Overall Robot twist mux -->
    <group ns="oarbot_blue">
        <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
            <rosparam command="load" file="$(find assistive_launch)/config/oarbot_twist_mux.yaml" />
            <remap from="cmd_vel_out" to="e_stop_cmd_vel"/>
            <remap from="/diagnostics" to="diagnostics"/>
        </node>
    </group>

    <!-- Launch Oarbot redundancy resolver -->
    <group ns="oarbot_blue">
        <node name="oarbot_redundancy_resolver" pkg="oarbot_control" type="oarbot_redundancy_resolver.py" output="screen">
            <rosparam file="$(find assistive_launch)/config/oarbot_blue_redundancy_resolver.yaml"/>
        </node>
    </group>

    <!-- Launch Oarbot Body Joint Follower + Admittance Control -->
    <group ns="oarbot_blue">
        <node name="body_single_joint_follower" pkg="assistive_controllers" type="body_single_joint_follower2.py" output="screen">
            <rosparam file="$(find assistive_launch)/config/oarbot_blue_body_single_joint_follower2.yaml"/>
        </node>
    </group>

<!-- </group> -->
</launch>