<?xml version="1.0"?>
<launch>
<!-- <group ns="oarbot_silver"> -->
	<machine name="oarbot-silver-P15" address="192.168.1.101" env-loader="/home/oarbot_silver/catkin_ws_assistive/src/assistive_launch/scripts/env_oarbot_silver.sh" user="oarbot_silver" password="1234" default="true"/>

    <!-- Launch Kinova Arm with Kinect + Corresponding TF broadcasters, including Body Joint Broadcaster -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_arm_with_kinect.launch">
        <!-- <arg name="prefix_for_tf" value="j2n6s300_left" />  Applies to both kinova arm and the kinect -->
    </include>

    <!-- Launch Oarbot Omnidirectional Base -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_base.launch">
    </include>

    <!-- Launch Oarbot redundancy resolver -->
    <group ns="oarbot_silver">
        <node name="oarbot_redundancy_resolver" pkg="oarbot_control" type="oarbot_redundancy_resolver.py" output="screen">
            <rosparam file="$(find assistive_launch)/config/oarbot_silver_redundancy_resolver.yaml"/>
        </node>
    </group>

    <!-- Launch Oarbot Collision Avoider -->
    <group ns="oarbot_silver">
        <node name="collision_avoidance_2d" pkg="oarbot_control" type="collision_avoidance_2d.py" output="screen">
		    <rosparam file="$(find assistive_launch)/config/oarbot_silver_collision_avoidance_2d.yaml"/>
        </node>
    </group>

    <!-- Launch Oarbot Body Joint Follower + Admittance Control -->
    <group ns="oarbot_silver">
        <node name="body_single_joint_follower" pkg="assistive_controllers" type="body_single_joint_follower2.py" output="screen">
            <rosparam file="$(find assistive_launch)/config/oarbot_silver_body_single_joint_follower2.yaml"/>
        </node>
    </group>

<!-- </group>  -->
</launch>