<?xml version="1.0"?>
<launch>
<group ns="oarbot_silver">
	<machine name="oarbot-silver-P15" address="192.168.1.101" env-loader="/home/oarbot_silver/catkin_ws_assistive/scripts/env_oarbot_silver.sh" user="oarbot_silver" password="1234" default="true"/>

    <!-- Launch Kinova Arm with Kinect + Corresponding TF broadcasters, including Body Joint Broadcaster -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_arm_with_kinect.launch">
        <!-- <arg name="prefix_for_tf" value="j2n6s300_left" />  Applies to both kinova arm and the kinect -->
    </include>

    <!-- Launch Oarbot Omnidirectional Base -->
    <include file="$(find assistive_launch)/launch/test_launch/oarbot_silver_base.launch">
    </include>



</group> 
</launch>