<?xml version="1.0"?>
<launch>
<group ns="tablet">
    <machine name="tablet" address="192.168.1.99" env-loader="/home/tablet/catkin_ws_assistive/scripts/env_tablet.sh" user="tablet" password="1234" default="true"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/tablet/catkin_ws_assistive/src/assistive_launch/launch/config.rviz" output="screen"/>

    <node name="arduino_reader" pkg="tablet_arduino_talker" type="arduino_read.py" output="screen">
        <rosparam file="$(find assistive_launch)/config/tablet_arduino_params.yaml"/>
    </node>

    <!-- <include file="$(find spacenav_node)/launch/classic.launch"/> -->
    <node pkg="spacenav_node" type="spacenav_node" name="$(spacenav_node)" output="screen">
        <param name="zero_when_static" value="true"/>
        <param name="static_count_threshold" value="30"/>
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find assistive_launch)/config/tablet_twist_mux.yaml" />
        <remap from="cmd_vel_out" to="deadman_switch_spacenav_twist"/>
    </node>

    <rosparam command="load" file="$(find assistive_launch)/config/tablet_gui_params.yaml"/>
    <node name="assistive_gui" pkg="assistive_gui" type="assistive_gui_user_py3.py" output="screen"/>
</group>
</launch>